@import '$src/styles/dimensions.scss';
@import '$src/styles/media-queries.scss';

  section {
    margin: 1rem auto;
    text-align: left;
    width: 100%;
  }
  .title {
    margin: 0 calc(5vw + 1rem);
  }
  .project-grid, .mirror-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    gap: var(--grid-item-spacing);
    padding: var(--grid-item-spacing);
    margin: var(--grid-item-spacing) 5vw;
    list-style: none;
  }

  .post-filter-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .filter-controls {
      display: flex;
      gap: 1rem;
      margin: 0 calc(5vw + 1rem);
      .filter-toggle-btn {
        font-family: FiraCode;
        background: var(--card-background);
        border: var(--card-border);
        border-radius: var(--curve-factor);
        padding: 0.35rem;
        color: var(--foreground);
        cursor: pointer;
      }
    }
  }

  .advanced-filters {
    display: flex;
    align-items: center;
    margin: 0 calc(5vw + 1rem);
    flex-wrap: wrap;
    .view-mode-label {
      font-size: 0.8rem;
      color: var(--dimmed-text);
    }
    .view-mode-options {
      display: flex;
    }
    .language-selector {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;
      span {
        cursor: pointer;
        transition: 0.25s all ease-in-out;
        &:hover {
          filter: brightness(1.2);
        }
      }
      .selectedLang {
        display: flex;
        border: var(--card-border);
        padding: 5px 5px 0 5px;
        border-radius: 4px;
        &::before {
          content: '✓';
          margin-right: 10px;
        }
      }
    }
    .af {
      display: flex;
      flex-direction: column;
      &.cancel-filters {
        button {
          color: var(--foreground);
          margin: 0 0.25rem;
          padding: 0.2rem 0.25rem;
          font-family: FiraCode;
          background: var(--card-background);
          border: var(--card-border);
          border-radius: 4px;
          cursor: pointer;
          border-color: var(--error);
          &:hover { color: var(--accent); }
        }
      }
    }
  }

  label {
    margin-right: 1rem;
  }
  input {
    background: var(--card-background);
    outline: none;
    border: var(--card-border);
    padding: 0.25rem 0.5rem;
    color: var(--accent);
    font-family: FiraCode;
    font-size: 1rem;
    border-radius: 4px;
  }

  .display-btn {
    background: var(--card-background);
    border: var(--card-border);
    border-radius: var(--curve-factor);
    margin-right: 0.25rem;
    display: flex;
    padding: 0.35rem;
    color: var(--foreground);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:last-of-type {
      margin-right: 1rem;
    }
    &:hover {
      color: var(--accent);
      transform: scale(1.05);
    }
    &.selected {
      // color: var(--accent);
      border: 1px solid var(--accent);
    }
  }

  .results-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.25rem calc(5vw + 1rem);
    p {
      margin: 0;
    }
    button {
      border: none;
      outline: none;
      background: var(--accent);
      color: var(--foreground);
      border-radius: 4px;
      margin: 0 0.5rem;
      cursor: pointer;
    }
  }

  .no-results {
    background: var(--card-background);
    border: var(--card-border);
    border-radius: 4px;
    color: var(--foreground);
    margin: 2rem calc(5vw + 1rem);
    padding: 1rem 2rem;
    h4 {
      font-size: 1.6rem;
      margin: 0.5rem 0;
    }
  }

  .load-more {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    span {
      opacity: 0.8;
    }
    a {
      width: 25vw;
      max-width: 40rem;
      min-width: 10rem;
    }
  }

  @keyframes -global-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@include tablet-down {
  .post-filter-options { display: none; }
}
