:root {
  // Core, background, foreground
  --background: #101010;
  --foreground: #fafafa;
  --dimmed-text: #808080;

  // Special component colors
  --card-background: #1b1b1b;
  --card-border: 1px solid #2a2a2a;
  --code-background: #333;

  // Voronoi background colors
  --voronoi-background: #080e20;
  --voronoi-lines: #ffffff54;
  --voronoi-bg-0: #111111;
  --voronoi-bg-1: #121212;
  --voronoi-bg-2: var(--background);
  --voronoi-bg-3: #0d0c0c;
  --voronoi-c1: #01c0f0;
  --voronoi-c2: #00bbfa;
  --voronoi-c3: #00b5ff;
  --voronoi-c4: #00aeff;
  --voronoi-c5: #00a5ff;
  --voronoi-c6: #109cff;
  --voronoi-c7: #4f90ff;
  --voronoi-c8: #7683ff;
  --voronoi-c9: #9772ff;
  --voronoi-c10: #b45eff;

  // Accent colors (can vary based on route)
  --accent: #01c0f0;
  --accent-1: #ff0099;
  --accent-2: #b45eff;
  --accent-3: #01c0f0;
  --accent-4: #1de691;


  --heading-color: var(--accent);

  --home-tile-background: var(--card-background);
  --home-accent-background: var(--card-background);
  --home-accent-foreground: var(--foreground);

  // Action colors
  --info: #35c9fa;
  --success: #88ff88;
  --warning: #ece715;
  --error: #f80363;
  --misc: #b45eff;
}
