:root {
  // Core, background, foreground
  --background: #101010;
  --foreground: #fafafa;
  --dimmed-text: #808080;

  // Special component colors
  --card-background: #1b1b1b;
  --card-border: 1px solid #2a2a2a;
  --code-background: #333;

  // Accent colors (can vary based on route)
  --accent: #01c0f0;
  --accent-1: #ff0099;
  --accent-2: #b45eff;
  --accent-3: #01c0f0;
  --accent-4: #1de691;

  // Action colors
  --info: #35c9fa;
  --success: #88ff88;
  --warning: #ece715;
  --error: #f80363;
  --misc: #b45eff;
}
