

:root {
  --background: #ededed;
  --foreground: #2a3367;
  --dimmed-text: #808080;
  --card-background: #F8F8FF;
  --card-border: 1px solid #0000001a;
  --accent: #01c0f0;
  --accent-1: #ff0099;
  --accent-2: #b45eff;
  --accent-3: #01c0f0;
  --accent-4: #1de691;
  --home-accent-background: #2a3367;
  --home-accent-foreground: var(--foreground);
  --home-animated-gradient-outer: #ffe7f500;
  --home-animated-gradient-inner: #ff8ed05c;
}

// Dark theme
:global(html[data-theme='dark']), html[data-theme='dark'] {
  --background: #101010;
  --foreground: #fafafa;
  --dimmed-text: #808080;
  --card-background: #1b1b1b;
  --card-border: 1px solid #2a2a2a;
  --code-background: #333;
  --accent: #01c0f0;
  --accent-1: #ff0099;
  --accent-2: #b45eff;
  --accent-3: #01c0f0;
  --accent-4: #1de691;
  --home-accent-background: #2a3367;
  --home-accent-foreground: var(--foreground);
}

// Light theme
:global(html[data-theme='light']), html[data-theme='light'] {
  --background: #ededed;
  --foreground: #2a3367;
  --card-background: #F8F8FF;
  --card-border: 1px solid #0000001a;
  --home-accent-background: #2a3367;
  --home-accent-foreground: var(--foreground);
  --home-animated-gradient-outer: #ffe7f500;
  --home-animated-gradient-inner: #ff8ed05c;
}

// Callisto theme
:global(html[data-theme='callisto']), html[data-theme='callisto'] {
  --background: #020617;
  --foreground: #dcdcdc;
  --dimmed-text: #8892b0;
  --card-background: #0b1021;
  --card-border: 1px solid #ffffff1a;
  --accent-1: #00ccb4;
  --accent-2: #00ccb4;
  --accent-3: #00ccb4;
  --accent-4: #00ccb4;
  --voronoi-background: #0a192f;
  --home-accent-background: #fff;
  --home-tile-background: #0B1021;
  --home-animated-gradient-outer: #0361f700;
  --home-animated-gradient-inner: #2e2d40;
}
