:root {
  // Grid dimensions
  --grid-item-width: 20rem;
  --grid-item-min-height: 3.5rem;
  --grid-item-max-height: 5rem;
  --grid-item-spacing: 1rem;
  --grid-max-width: 100rem;

  // Border radius amounts
  --curve-factor: 4px;
}
