@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-VF.woff2') format('woff2-variations'),
    url('/fonts/FiraCode-VF.woff') format('woff-variations'),
    url('/fonts/FiraCode.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('/fonts/RedHatText-VF.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
}
