:global(#vonoroi) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  height: -webkit-fill-available;

  $col-lines: var(--voronoi-lines);
  --voronoi-background: #080e20;
  $col-initial-primary-fill:  var(--voronoi-background);
  $col-selected-polygon: white;
  $col-selected-site-fill:  none;
  $col-selected-site-stroke:  none;
  $col-sites-fill: none;
  $col-sites-line:  none;

  :global(.links) {
    stroke: $col-lines;
    stroke-opacity: 0.2;
  }

  :global(.polygons) {
    fill: none;
    stroke: $col-lines;
  }

  :global(.polygons :first-child) {
    // fill: $col-selected-polygon;
    filter: brightness(1.3);
  }

  :global(.deselect-polygon) {
    fill: $col-initial-primary-fill !important;
  }

  :global(.sites) {
    fill: $col-sites-fill;
    stroke: $col-sites-line;
  }

  :global(.sites :first-child) {
    fill: $col-selected-site-fill;
    stroke: $col-selected-site-stroke;
  }
  :global(.r-0){ fill: var(--voronoi-r0); }
  :global(.r-1){ fill: var(--voronoi-r1); }
  :global(.r-2){ fill: var(--voronoi-r2); }
  :global(.r-3){ fill: var(--voronoi-r3); }
  :global(.r-4){ fill: var(--voronoi-r4); }
  :global(.r-5){ fill: var(--voronoi-r5); }
  :global(.r-6){ fill: var(--voronoi-r6); }
  :global(.r-7){ fill: var(--voronoi-r7); }
  :global(.r-8){ fill: var(--voronoi-r8); }
  :global(.r-9){ fill: var(--voronoi-r9); }
  :global(.r-10){ fill: var(--voronoi-r10); }

  :global(.c-1) { fill: var(--voronoi-c1); }
  :global(.c-2) { fill: var(--voronoi-c2); }
  :global(.c-3) { fill: var(--voronoi-c3); }
  :global(.c-4) { fill: var(--voronoi-c4); }
  :global(.c-5) { fill: var(--voronoi-c5); }
  :global(.c-6) { fill: var(--voronoi-c6); }
  :global(.c-7) { fill: var(--voronoi-c7); }
  :global(.c-8) { fill: var(--voronoi-c8); }
  :global(.c-9) { fill: var(--voronoi-c9); }
  :global(.c-10) { fill: var(--voronoi-c10); }

  background-color: $col-initial-primary-fill;
}
