:global(#vonoroi) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);

  $col-lines:  #ffffff54; // var(--card-background);
  $col-initial-primary-fill:  var(--background); // #101010;
  $col-selected-polygon: white; // var(--card-background);
  $col-selected-site-fill:  none;
  $col-selected-site-stroke:  none;
  $col-sites-fill: none;
  $col-sites-line:  none;

  :global(.links) {
    stroke: $col-lines;
    stroke-opacity: 0.2;
  }

  :global(.polygons) {
    fill: none;
    stroke: $col-lines;
  }

  :global(.polygons :first-child) {
    // fill: $col-selected-polygon;
    filter: brightness(1.3);
  }

  :global(.deselect-polygon) {
    fill: $col-initial-primary-fill !important;
  }

  :global(.sites) {
    fill: $col-sites-fill;
    stroke: $col-sites-line;
  }

  :global(.sites :first-child) {
    fill: $col-selected-site-fill;
    stroke: $col-selected-site-stroke;
  }
  :global(.r-0){ fill: var(--voronoi-bg-0); }
  :global(.r-1){ fill: var(--voronoi-bg-1); }
  :global(.r-2){ fill: var(--voronoi-bg-2); }
  :global(.r-3){ fill: var(--voronoi-bg-3); }
  :global(.r-4){ fill: var(--background); }
  :global(.r-5){ fill: var(--background); }
  :global(.r-6){ fill: var(--background); }
  :global(.r-7){ fill: var(--background); }
  :global(.r-8){ fill: var(--background); }
  :global(.r-9){ fill: var(--background); }

  :global(.c-1) { fill: #01c0f0; }
  :global(.c-2) { fill: #00bbfa; }
  :global(.c-3) { fill: #00b5ff; }
  :global(.c-4) { fill: #00aeff; }
  :global(.c-5) { fill: #00a5ff; }
  :global(.c-6) { fill: #109cff; }
  :global(.c-7) { fill: #4f90ff; }
  :global(.c-8) { fill: #7683ff; }
  :global(.c-9) { fill: #9772ff; }
  :global(.c-10) { fill: #b45eff; }

  background-color: $col-initial-primary-fill;
}
