:global(#vonoroi) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);

  $col-lines:  var(--card-background);
  $col-initial-primary-fill:  #101010;
  $col-selected-polygon: var(--card-background);
  $col-selected-site-fill:  none;
  $col-selected-site-stroke:  none;
  $col-sites-fill: none;
  $col-sites-line:  none;

  :global(.links) {
    stroke: $col-lines;
    stroke-opacity: 0.2;
  }

  :global(.polygons) {
    fill: none;
    stroke: $col-lines;
  }

  :global(.polygons :first-child) {
    fill: $col-selected-polygon;
  }

  :global(.deselect-polygon) {
    fill: $col-initial-primary-fill !important;
  }

  :global(.sites) {
    fill: $col-sites-fill;
    stroke: $col-sites-line;
  }

  :global(.sites :first-child) {
    fill: $col-selected-site-fill;
    stroke: $col-selected-site-stroke;
  }
  :global(.v-0){ fill: var(--voronoi-bg-0); }
  :global(.v-1){ fill: var(--voronoi-bg-1); }
  :global(.v-2){ fill: var(--voronoi-bg-2); }
  :global(.v-3){ fill: var(--voronoi-bg-3); }
  :global(.v-4){ fill: var(--background); }
  :global(.v-5){ fill: var(--background); }
  :global(.v-6){ fill: var(--background); }
  :global(.v-7){ fill: var(--background); }
  :global(.v-8){ fill: var(--background); }
  :global(.v-9){ fill: var(--background); }

  background-color: $col-initial-primary-fill;
}
